
body {
    background-color: #333333; 
    color:white;
}

p {
    color:white;
    font-size: 20px;
    font-family: monospace;
}

button {
    font-size: 20px;
    font-family: monospace;
}

input {
    color:black;
    font-size: 20px;
    font-family: monospace;
}

mark.green {
    color:black;
    background: #00ff00;
}

mark.yellow {
    color: black;
    background: #ffff00;
}

mark.white {
    color: black;
    background: white;
    
}
mark.black {
    
    color: white;
    background: black;
}